BOT_TOKEN=replace_with_telegram_bot_token
BOT_USERNAME=shopifysupportbot_hg37nz_bot
SHOPIFY_SHOP_DOMAIN=your-store.myshopify.com
SHOPIFY_ADMIN_ACCESS_TOKEN=shpat_replace_with_admin_api_access_token
SHOPIFY_API_VERSION=2026-04
SUPPORT_EMAIL=support@example.com
